body {
  font-family: Helvetica;
}

h3{
  text-align: center;
  background-color: #79CFC3;
  color: white;
  padding: 15px;
  margin: 0 0 10px 0;
}

h2{
  margin: 0 0 10px 0;
}

p{
  color: #7b7b7b; //light-grey
}

.font-input{
  color: #7b7b7b; //light-grey
  margin-bottom: 10px;
}

.container{
  margin-top: 20px;
}

.tshirt{
  text-align: center;
  text-align: center;
  display: flex;
  width: 310px;
  margin: auto;
  border: 1px solid #7b7b7b;
}

.button-custom{
  border: 1px solid #7b7b7b; //light-grey
  color: #7b7b7b;
  padding: 5px;
  min-width: 135px;
  width: 33%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.19);
  margin: 15px 0px;
}

.button-custom-middle{
  border-right: none;
  border-left: none;
}

.button-continue{
  width: 100%;
  color: white;
  background-color: #4aa9a0;
  padding: 5px;
  margin: 35px 0;
  border: none;
}

.button-continue:hover{
  background-color: #317b74;
}

.icons-buttons{
  color: #4aa9a0; //light-green
  font-size: 22px;
  margin: 0 5px;
}

.button-custom:hover, .icons-buttons:hover{
  color: #317b74;
}

.color-preview {
  border: 1px solid #CCC;
  margin: 2px;
  vertical-align: top;
  float: left;
  cursor: pointer;
  overflow: hidden;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.quantity-size{
  width: 100%;
}

.size-input{
  width: 50px;
}

.rectangle-customize{
  position: absolute;
  width: 100%;
  min-height: 314px; //image-title
  z-index: 1;
  background-color: white;
  border: 1px solid;
}

.container-add-text{
  margin: 0 50px;

}

.text {
  font-size: 25px;
  width: 120px;
  height: 150px;
  position: absolute;
  display: flex;
  border: 1px black dotted;
  margin: auto;
  top: 60px;
  left: 85px;
}

.text-input {
  margin: 10px auto;
  width: 100%;
  padding: 5px;
}

.bottom-menu-image {
  position: absolute;
  width: 308px; //tshirt -2 px for the border
  height: 40px;
  background-color: #0000007a;
  bottom: 0;
}

.bottom-menu-image .icon-trash {
  position: absolute;
  bottom: 8px;
  right: 20px;
  font-size: 20px;
  color: white;
}

.icon-text-style{
  margin: 5px 10px;
  font-size: 20px;
}

.font-list, .dropdown-button{
  background-color: white !important;
}

.fileInput{
  margin: 10px;
}

