body {
  font-family: Helvetica;
}

.color-preview {
  border: 1px solid #CCC;
  margin: 2px;
  vertical-align: top;
  float: left;
  cursor: pointer;
  overflow: hidden;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.quantity-size{
  width: 100%;
}

.size-input{
  width: 50px;
}
